extends common/layout  

block layout-content 
  .content 
    h1.page-title Add menu link 
    form(method="post", action="/admin/menu/add/submit")
      div
        label(for="wgt") Weight: 
        input(type="number", min="0", id="wgt", name="weight")

      div 
        label(for="href") Link path: 
        input(type="text", id="href", name="path",
        placeholder="e.g. /contact")
      div 
        label(for="link-name") Link text: 
        input(type="text", id="link-name"
        name="name", placeholder="e.g. Contact")
      button(type="submit") Add link