<!--common layout page, keeps header and footer consistent for each page. 
look up pug documentation for layout inheritance -->
extends layout

block layout-content 
  h1.page-title Welcome to this test wesite! 
  p.paragraph This is my homepage.