extends common/layout 

block layout-content 
  .content 
    h1.page-title Welcome to CommerceWorld 
    p Here you can buy anything you want.
    <!-- https://www.health.harvard.edu/heart-health/fruit-of-the-month-apples -->
    img(src='/apples.jpg' alt='picture of different apples' style='width: 300px; height: 300px;')
    p Buy apples! 4 for $5